<template>
    <div>
      <!-- dialog trigger -->
      <v-btn
        color="primary"
        dark
        small
        absolute
        right
        fab
        @click="addDialog = true"
        :class="wallets.length === 3?'hidden-lg-and-down hidden-xl-and-down':''"
      >
        <v-icon>add</v-icon>
      </v-btn>
      <!-- dialog form -->
      <v-dialog v-model="addDialog" persistent max-width="600px">
        <v-card>
          <v-card-title class="grey lighten-5">
            <span class="headline">New Wallet</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12>
                  <v-text-field label="Wallet Name *" v-model="walletName" required box></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-text-field return-masked-value mask="#############" label="Balance *" prefix="Rp." v-model="totalBalance" required box></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-item-group>
                    <v-layout grid-list-md>
                      <v-layout wrap px-1>
                        <v-flex xs2 sm2 md1 v-for="(color, idx) in colors" :key="idx">
                          <v-item>
                            <div slot-scope="{ active, toggle }"  @click="toggleWrap(toggle, color)" :style="`background-color:${color}`" class="darken-1 color-item d-flex align-center">
                              <v-scroll-y-transition>
                                <div
                                  v-if="active"
                                  class="caption text-xs-center"
                                >
                                  <v-icon>check</v-icon>
                                </div>
                              </v-scroll-y-transition>
                            </div>
                          </v-item>
                        </v-flex>  
                      </v-layout>
                    </v-layout>
                  </v-item-group>
                </v-flex>
              </v-layout>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey darken-1" flat @click="addDialog = false">Close</v-btn>
            <v-btn color="grey darken-1" flat @click="addWallet()">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- menu dialog -->
      <v-bottom-sheet v-model="menuDialog" :persistent="true">
        <v-list>
          <v-subheader>Actions</v-subheader>
          <v-list-tile @click="menuDialog = false">
            <v-list-tile-avatar>
              <v-avatar size="32px" tile>
                <v-icon class="material-icons">edit</v-icon>
              </v-avatar>
            </v-list-tile-avatar>
            <v-list-tile-title>Edit</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="deleteWallet()">
            <v-list-tile-avatar>
              <v-avatar size="32px" tile>
               <v-icon class="material-icons">delete</v-icon>
              </v-avatar>
            </v-list-tile-avatar>
            <v-list-tile-title>Delete</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-bottom-sheet>
      <!-- snackbar -->
      <v-snackbar
        v-model="snackBar.open"
        :color="snackBar.color"
        :timeout="snackBar.timeout"
      >
        {{snackBar.snackbarMessage}}
        <v-btn
          dark
          flat
          @click="snackBar.open = false"
        >
          {{snackBar.buttonText}}
        </v-btn>
      </v-snackbar>
      <!-- contents -->
      <v-subheader>
        My Wallets
      </v-subheader>
      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex xs12 sm6 md4 v-for="(wallet, index) in wallets" :key="index">
            <transition>
              <wallet
                v-long-press="1500"
                @long-press-start="popUpMenu(wallet)"
                :name="wallet.doc.wallet_name"
                :color="wallet.doc.color"
                :remainingBalance="wallet.doc.remaining_balance"
                :totalBalance="wallet.doc.total_balance"
              />
            </transition>
          </v-flex>
          <v-flex xs12 sm12 md12 xl12 v-if="wallets.length < 1">
            <p class="text-xs-center">You haven't created wallet.</p>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
</template>
<script>
import LongPress from 'vue-directive-long-press';
import wallets from "@/components/common/models/wallet";
import wallet from "@/components/common/templates/wallet";
export default {
  name:"home",
  data(){
    return{
      wallets:[],
      addDialog: false,
      menuDialog: false,
      walletName:'',
      totalBalance:0,
      colors:[
        "#4951ff",
        "#e86b6a",
        "#a17de7",
        "#ff832b",
        "#72c0ca"
      ],
      selectedColor:"#4951ff",
      selectedWallet:null,
      snackBar:{
        open:false,
        snackbarMessage:null,
        timout:1000,
        buttonText:"ok",
        color:"dark"
      }
    }
  },
  components:{
    wallet
  },
  directives: {
    'long-press': LongPress
  },
  methods:{
    addWallet: function (){
      wallets.addWallet(this.walletName, this.totalBalance, this.totalBalance, this.selectedColor)
        .then(() => {
          this.addDialog = false;
          this.getAllWallet();
        })
        .catch((error) => {
          this.openSnackbar(error);
        })
    },
    getAllWallet: function(){
      wallets.getAllWallet()
        .then((result) => {
          this.wallets = result.rows;
        })
        .catch((e) => {
          console.log(e)
        });
    },
    toggleWrap(toggle, color){
      toggle();
      this.selectedColor = color;
    },
    popUpMenu(wallet){
      this.menuDialog = true;
      this.selectedWallet = wallet;
    },
    deleteWallet(){
      this.menuDialog = false;
      if(this.selectedWallet){
        wallets.removeSingleWallet(this.selectedWallet.doc)
          .then(() => {
            this.openSnackbar("Deleted", "ok", "success");
            this.getAllWallet();
          })
          .catch(e => {
            this.openSnackbar(e, "close", "danger");
          });
      }else{
        this.openSnackbar("Belum memilih wallet.", "close", "info");
      }
    },
    openSnackbar(message, buttonText = "ok", type = "dark"){
      this.snackBar.snackbarMessage = message;
      this.snackBar.buttonText = buttonText;
      this.snackBar.color = type;
      this.snackBar.open = true;
    }
  },
  mounted(){
    this.getAllWallet();
  }
}
</script>
<style>
.color-item{
  height: 40px;
}
</style>