<template>
    <v-card transition="scale-transition" 
        origin="center center" 
        :color="color" 
        class="wallet white--text wallet" 
        ripple
        flat
        :style="customBoxShadow(color)">
        <v-card-title primary-title>
            <div>
                <div class="subheading my-1">{{name}}</div>
                <div class="headline">{{toRupiah(remainingBalance)}}</div>
            </div>
            <v-progress-linear
                background-color="yellow lighten-5"
                color="yellow"
                :value="(totalBalance - remainingBalance)/totalBalance*100"
                height="4"
                class="rounded-card"/>
            <v-layout>
                <v-flex xs6 md6 sm6 lg6>
                    <p class="text-xs-left caption white--text py-0">
                    {{toRupiah(totalBalance - remainingBalance)}}
                    </p>
                </v-flex>
                <v-flex xs6 md6 sm6 lg6>
                    <p class="text-xs-right caption white--text py-0">
                    {{toRupiah(totalBalance)}}
                    </p>
                </v-flex>
            </v-layout>
        </v-card-title>
    </v-card>
</template>
<script>
import utils from "@/components/common/models/utils";
export default {
    name:"wallet",
    props:['name', "color", 'remainingBalance', 'totalBalance'],
    methods:{
        toRupiah(number){
            return utils.currencyFormat("id-ID", "IDR", number);
        },
        customBoxShadow(color){
            return `box-shadow: 0px 15px 9px -8px ${color}4d, 0px 15px 9px -8px ${color}33;`
        }
    }
}
</script>
<style scoped>
.wallet{
    border-radius: 15px;
}
.wallet:hover{
    cursor: pointer;
}
</style>
