<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      clipped
      fixed
      floating
      app
      class="grey lighten-4"
    >
      <v-list dense>
        <div>
          <v-list-tile @click="$router.push(`my-wallet.html`);" v-ripple>
            <v-list-tile-action>
              <v-icon class="material-icons">ballot</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>My wallet</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="false" v-ripple>
            <v-list-tile-action>
              <v-icon>settings</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Settings</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </div>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app fixed clipped-right dense color="grey lighten-4" flat>
      <v-toolbar-side-icon @click.stop="drawer = !drawer">
        <v-icon>short_text</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title>Budgetify</v-toolbar-title>
    </v-toolbar>
    <v-content class="grey lighten-4">
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      drawer: null,
      toolbarColor:"#fafafa"
    }),
    props: {
      source: String
    }
  }
</script>