<template>
  <div>
    <my-wallets/>
  </div>
</template>
<script>
import MyWallets from "@/components/common/templates/my-wallets";
export default {
  name:"home",
  components:{
    "my-wallets":MyWallets
  }
}
</script>
