<template>
  <Layout/>  
</template>

<script>
import Layout from './components/layout/dark.vue'

export default {
  name: 'App',
  components: {
    Layout
  },
  data () {
    return {
      //
    }
  }
}
</script>
<style>
  .box-shadow-material{
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
</style>
